*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Trebuchet MS";
    list-style-type:none;
    text-decoration:none;
}

a{color:#09c;}
a:hover{text-decoration:underline;}

body{
    background:#ebebeb;
}
.button{
    display:inline-block;
    padding:8px 10px;
    background:#333;
    color:white;
    font-weight:lighter;
    font-size:16px;
    border:0;
    border-radius:3px;
    outline:none;
}
.button:hover{background:black; cursor:pointer;}

.button.azul{background:#069;}
.button.azul:hover{background:#036;}

#next, #prev{display:none;}
#wrap-geral{
    width:1000px;
    margin:90px auto;
    position:relative;
}
#wrap-geral .timer{
    position:absolute;
    top:-50px;
    left:50%;
    margin-left:-75px;
    width:150px;
    text-align:center;
    color:white;
    background:#333;
    line-height:40px;
    border-radius:4px;
    font-size:19px;
    display:none;
}

#wrap-geral .timer.danger{
    background:red;
}
#prova-lista{
    position:absolute;
    top:0;
    left:0;
    width:28%;
    background:white;
    padding:8px;
    min-height:100%;
}
#wrap-prova{
    float:right;
    width:70%;
    height:400px;
    min-height:400px;
    position:relative;
}
#wrap-prova #next, #concluir{ float:right; }
#wrap-prova h1{
    font-size:22px;
    color:#069;
    font-weight:lighter;
    margin-bottom:20px;
    width:100%;
    float:left;
}
#wrap-prova .begin{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:999;
    background:rgba(255,255,255, 0.8);
    display:none;
}

#wrap-prova .begin .button{
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-54px;
    transform: translateY(-50%);
}

#wrap-prova .questao {
    float:left;
    width:100%;
    padding:20px;
    background:white;
    margin-bottom:10px;
    display:none;
}

#wrap-prova .questao:first-child{
    display:block;
}
#wrap-prova .questao h2{
    font-size:18px;
    color:#666;
    float:left;
    width:100%;
    margin-bottom:15px;
}
#wrap-prova .questao p{
    display:block;
    margin-bottom:8px;
    font-size:16px;
    color:#333;
}
#wrap-prova .questao input[type=text]{
    padding:8px;
    width:100%;
    border:1px solid #ccc;
    outline:none;
    font-size:17px;
    color:#666;
}